@charset "utf-8";

/* reset */
* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222;
}

body {
    font-family: 'NanumSquareRound';
}

:root {
    --weight-font: 'Cafe24Ssurround';
    --main-color1: #16643D;
    --main-color2: #FFE89B;
    --main-color3: #FB6419;
    --main-color4: #E5EEE9;

}


/* font */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* pc 버전 */
@media (min-width:1200px) {
    /* header */

    header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        box-sizing: border-box;
    }

    header h1 {
        width: 100px;
        height: 90px;

    }

    header h1 img {
        width: 100%;
    }

    header .menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    header .menu li {
        width: 80px;
    }

    .bar {
        width: 0px;
        height: 4px;
        background-color: var(--main-color1);
        border-radius: 100px;
        margin-top: 5px;
    }

    header .bars {
        display: none;
    }

    .wrap {
        display: none;
    }

    /* con1 */
    .con1 {
        width: 100%;
        height: 100%;

        padding: 50px 0px;
    }

    .con1 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 30px;
        margin-bottom: 50px;
    }

    .con1 ul {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        margin: 20px auto;
    }

    .con1 li {
        width: calc(100%/ 3 - 20px);
        border: 1px solid #222;
        border-radius: 50px;
    }

    .con1 li h4 {
        margin: 10px;
    }

    .con1 li p {
        margin: 30px;
    }

    .con1 li img {
        width: 100%;
    }

    .con1 li:nth-child(3) img,
    .con1 li:nth-child(4) img,
    .con1 li:nth-child(5) img,
    .con1 li:nth-child(6) img {
        -webkit-filter: grayscale(100%);
    }

    /* con2 */
    .con2 {
        width: 100%;
        height: 100%;
    }

    .con2 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 30px;
        margin: 50px 0px;
    }

    .con2 ul {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }

    .con2 li {
        margin: 20px 0px;
    }

    .con2 li img {
        width: 50%;
    }

    /* footer */

    footer {
        width: 100%;
        height: 100%;
        background-color: var(--main-color1);
        padding: 50px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }

    footer ul {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 20px;
    }

    footer li a {
        color: #fff;
    }

}

/* 태블릿 버전 */
@media (max-width:1199px) and (min-width:850px) {
    /* header */

    header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        box-sizing: border-box;
    }

    header h1 {
        width: 100px;
        height: 90px;

    }

    header h1 img {
        width: 100%;
    }

    header .menu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    header .menu li {
        width: 80px;
    }

    .bar {
        width: 0px;
        height: 4px;
        background-color: var(--main-color1);
        border-radius: 100px;
        margin-top: 5px;
    }

    header .bars {
        display: none;
    }

    .wrap {
        display: none;
    }

    /* con1 */
    .con1 {
        width: 100%;
        height: 100%;

        padding: 50px 0px;
    }

    .con1 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 30px;
        margin-bottom: 50px;
    }

    .con1 ul {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        margin: 20px auto;
    }

    .con1 li {
        width: calc(100%/ 3 - 20px);
        border: 1px solid #222;
        border-radius: 50px;
    }

    .con1 li h4 {
        margin: 10px;
    }

    .con1 li p {
        margin: 30px;
    }

    .con1 li img {
        width: 100%;
    }

    .con1 li:nth-child(3) img,
    .con1 li:nth-child(4) img,
    .con1 li:nth-child(5) img,
    .con1 li:nth-child(6) img {
        -webkit-filter: grayscale(100%);
    }

    /* con2 */
    .con2 {
        width: 100%;
        height: 100%;
    }

    .con2 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 30px;
        margin: 50px 0px;
    }

    .con2 ul {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }

    .con2 li {
        margin: 20px 0px;
    }

    .con2 li img {
        width: 50%;
    }

    /* footer */

    footer {
        width: 100%;
        height: 100%;
        background-color: var(--main-color1);
        padding: 50px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }

    footer ul {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 20px;
    }

    footer li a {
        color: #fff;
    }

}

/* 태블릿 버전2 */
@media (max-width:849px) and (min-width:480px) {
    /* header */

    header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        box-sizing: border-box;
        justify-content: space-between;
    }

    header h1 {
        width: 100px;
        height: 90px;

    }

    header h1 img {
        width: 100%;
    }

    header .menu {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    header .menu li {
        width: 80px;
    }

    .bar {
        width: 0px;
        height: 4px;
        background-color: var(--main-color1);
        border-radius: 100px;
        margin-top: 5px;
    }

    header .bars {
        font-size: 35px;
        color: var(--main-color1);
    }

    .wrap {
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: flex-end;
        /* 자식 요소를 오른쪽 정렬 */
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .wrap .sub_menu {
        background-color: #fff;
        width: 50%;
        height: 100vh;
        padding-top: 100px;
        box-sizing: border-box;
        position: absolute;
        right: 0px;
        top: 0px;

    }

    .wrap .sub_menu li {
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-bottom: 1px solid #ccc;
        font-size: 20px;

    }

    .wrap .close {
        font-size: 35px;
        color: #222;
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .wrap li:hover {
        background-color: var(--main-color1);
        transition: 1s;
    }

    .wrap li:hover a {
        color: #fff;
    }

    /* con1 */
    .con1 {
        width: 100%;
        height: 100%;

        padding: 50px 0px;
    }

    .con1 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 30px;
        margin-bottom: 50px;
    }

    .con1 ul {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        margin: 20px auto;
    }

    .con1 li {
        width: calc(100%/ 2 - 20px);
        border: 1px solid #222;
        border-radius: 50px;
    }

    .con1 li h4 {
        margin: 10px;
    }

    .con1 li p {
        margin: 30px;
    }

    .con1 li img {
        width: 100%;
    }

    .con1 li:nth-child(3) img,
    .con1 li:nth-child(4) img,
    .con1 li:nth-child(5) img,
    .con1 li:nth-child(6) img {
        -webkit-filter: grayscale(100%);
    }

    /* con2 */
    .con2 {
        width: 100%;
        height: 100%;
    }

    .con2 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 30px;
        margin: 50px 0px;
    }

    .con2 ul {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }

    .con2 li {
        margin: 20px 0px;
    }

    .con2 li img {
        width: 50%;
    }

    /* footer */

    footer {
        width: 100%;
        height: 100%;
        background-color: var(--main-color1);
        padding: 50px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }

    footer ul {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 20px;
    }

    footer li a {
        color: #fff;
    }

}

/* 모바일 버전 */
@media (max-width:479px) {
    /* header */

    header {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 20px 20px;
        box-sizing: border-box;
        justify-content: space-between;
    }

    header h1 {
        width: 100px;
        height: 90px;

    }

    header h1 img {
        width: 80%;
    }

    header .menu {
        width: 100%;
        height: 100%;
        display: none;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    header .menu li {
        width: 80px;
    }

    .bar {
        width: 0px;
        height: 4px;
        background-color: var(--main-color1);
        border-radius: 100px;
        margin-top: 5px;
    }

    header .bars {
        font-size: 35px;
        color: var(--main-color1);
    }

    .wrap {
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: flex-end;
        /* 자식 요소를 오른쪽 정렬 */
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .wrap .sub_menu {
        background-color: #fff;
        width: 50%;
        height: 100vh;
        padding-top: 100px;
        box-sizing: border-box;
        position: absolute;
        right: 0px;
        top: 0px;

    }

    .wrap .sub_menu li {
        width: 100%;
        height: 100px;
        text-align: center;
        line-height: 100px;
        border-bottom: 1px solid #ccc;
        font-size: 20px;

    }

    .wrap .close {
        font-size: 35px;
        color: #222;
        position: absolute;
        top: 30px;
        right: 20px;
        z-index: 1;
    }

    .wrap li:hover {
        background-color: var(--main-color1);
        transition: 1s;
    }

    .wrap li:hover a {
        color: #fff;
    }

    /* con1 */
    .con1 {
        width: 100%;
        height: 100%;

        padding: 50px 0px;
    }

    .con1 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 20px;
        margin-bottom: 50px;
    }

    .con1 ul {
        width: 90%;
        /* display: flex;
        flex-wrap: wrap; */
        text-align: center;
        gap: 20px;
        margin: 20px auto;
    }

    .con1 li {
        width: 90%;
        margin: 20px auto;
        border: 1px solid #222;
        border-radius: 50px;
    }

    .con1 li h4 {
        margin: 10px;
    }

    .con1 li p {
        margin: 30px;
    }

    .con1 li img {
        width: 100%;
    }

    .con1 li:nth-child(3) img,
    .con1 li:nth-child(4) img,
    .con1 li:nth-child(5) img,
    .con1 li:nth-child(6) img {
        -webkit-filter: grayscale(100%);
    }

    /* con2 */
    .con2 {
        width: 100%;
        height: 100%;
    }

    .con2 h3 {
        text-align: center;
        color: var(--main-color1);
        font-size: 20px;
        margin: 50px 0px;
    }

    .con2 ul {
        width: 90%;
        margin: 30px auto;
        text-align: center;
    }

    .con2 li {
        margin: 20px 0px;
    }

    .con2 li img {
        width: 100%;
    }

    /* footer */

    footer {
        width: 100%;
        height: 100%;
        background-color: var(--main-color1);
        padding: 50px;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        font-size: 12px;
    }

    footer ul {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin-bottom: 20px;
    }

    footer li a {
        color: #fff;
    }

}